// Two Columns
.showcase .row:nth-child(3n + 2) {
   -webkit-flex-direction: row;
   flex-direction: row-reverse;

   -ms-box-orient: horizontal;
   display: -webkit-box;
   display: -moz-box;
   display: -ms-flexbox;
   display: -moz-flex;
   display: -webkit-flex;
   display: flex;
}
